body {
    background-color: #F3F3F3;
    margin: 0;
}

a {
    text-decoration: none;
}

.head {
    position: absolute;
    width: 100%;
    height: 147px;
    left: 0px;
    top: 0px;

    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category {
    position: absolute;
    width: 229px;
    height: 100%;
    left: 13px;
    top: 162px;
    font-size: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;

    border-right-style: solid;
    border-width: 1px;
}

.pagename {
    float: right;
}

#user-name {
    position: absolute;
    width: 144px;
    height: 28px;
    left: 915px;
    top: 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;

}


#title {
    position: absolute;
    width: 112px;
    height: 33px;
    left: 277px;
    top: 185px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #5E5E5E;
}

#vanner {
    position: absolute;
    width: 344px;
    height: 80px;
    left: 36px;
    top: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

#infor-regster {
    position: absolute;
    width: 126.76px;
    height: 39px;
    left: 830px;
    top: 93px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;
    border: 1px solid #F9F9F9;

    background: #49CEAE;
    border-radius: 5px;
}

#cart {
    position: absolute;
    width: 248px;
    height: 51px;
    left: 1240px;
    top: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    background: #E5E5E5;
    border: 1px solid #A3D27D;
    box-sizing: border-box;
    border-radius: 3px;

    color: #434343;
}

#keyword {
    position: absolute;
    width: 330px;
    height: 40px;
    left: 1100px;
    top: 92px;

    background: #E6E6E6;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: #797979;
}

#keyword-button {
    position: absolute;
    height: 40px;
    left: 1430px;
    top: 92px;

    background: #E6E6E6;
    border: 1px solid #C6C6C6;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: #797979;
}

#log {
    position: absolute;
    width: 130px;
    height: 39px;
    left: 960px;
    top: 93px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    border: 2px solid #49CEAE;
    box-sizing: border-box;
    border-radius: 5px;

    color: #49CEAE;
}

#completion {
    position: absolute;
    width: 94px;
    height: 56px;
    left: 333px;
    top: 886px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

    background: rgba(248, 172, 24, 0.85);
    border: 1px solid #555555;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.main {

}

.information{
    position: absolute;
    width: 860px;
    height: 555px;
    left: 333px;
    top: 282px;

    background: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: #2D2D2D;
}

.edit {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: #000000;

    background: #DCDCDC;
    border-radius: 10px;
}

.edittext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}

.editbox {

    height: 137px;

    border: 1px solid #ABABAB;
}
